{% include "base.html" %}
{% block main %}
<div id="form_container">

Thanks for making this new target. 

<table border='1' align="center">
<tr>
<th>
Created By
</th>
<th>
URL
</th>
<th>
Short
</th>
<th>
Details
</th>
<th>
Test It
</th>
</tr>
<tr>
<td>{{ target_created.User_created }}</td>
<td>{{ target_created.url }}</td>
<td>{{ target_created.short }}</td>
<td><a href="/details/{{ target_created.short }}/"> Click Me </a> </td>
<td><a href="/{{ target_created.short }}/"> Click Me </a> </td>
</tr>
</table>
{% endblock %}
</div>
<pre>
{{ target_created }} 
</pre>
<a href="/target">New Target</a>

</div>
